html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header nav {
  background-color: #79756f;
  border-top: solid #595652 .3em;
  border-bottom: solid #595652 .3em;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-family: "Bevan", normal;
  padding-top: .75em;
}

header nav ul li {
  display: inline-block;
  background-color: #713837;
  padding: .75em;
  font-family: sans-serif;
  list-style-type: none;
  border-radius: .3em;
  margin-bottom: .3em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #f33;
}

header nav ul li:hover {
  background-color: #f33;
}
